.location-banner {
	background: #8a8a8a url('/img/galleries/4x3/2.jpg') center/cover no-repeat;
	background-blend-mode: multiply;
	padding: rem-calc(40 0);

	.section-headline-row {
		margin-bottom: 40px;
		text-shadow: 0 0 10px #000;
	}

	.locationCard {
		background: rgba(225,225,225,.85);
		border-radius: 20px;
		background-blend-mode: screen;
		padding: rem-calc(20 10);
		max-width: 460px;
		margin: 0 auto 40px;

		@include breakpoint(medium) {
			min-height: rem-calc(220);
		}

		p {
			letter-spacing: rem-calc(-.2);
		}
	}
}
