.about-section {
	margin-bottom: rem-calc(80);

	.prose-column {
		margin-bottom: rem-calc(40);

		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.img-column {
		img {
			margin-bottom: rem-calc(24);
		}

		@include breakpoint(medium) {
			padding-top: rem-calc(80);
		}
	}
}
