.index-splash {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff url('/img/index/splash/index-splash_large.jpg') center/cover no-repeat;
	text-align: center;

	.text-block {
		max-width: rem-calc(970);
	}

	.headline,
	.subhead {
		color: #fff;
		text-shadow: 0 0 20px rgba(0,0,0,.85);
		text-transform: uppercase;
	}

	.headline {
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: rem-calc(24);
		letter-spacing: rem-calc(3);
		font-size: rem-calc(46);

		@include breakpoint(440) {
			font-size: rem-calc(60);
			letter-spacing: rem-calc(4);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(70);
			letter-spacing: rem-calc(4.67);
		}
	}

	.subhead {
		font-weight: 700;
		line-height: 1.6;
		font-size: rem-calc(20);
		letter-spacing: rem-calc(1.2);
		max-width: rem-calc(480);
		margin: 0 auto;

		@include breakpoint(medium) {
			font-size: rem-calc(28);
			letter-spacing: rem-calc(1.87);
		}

		@include breakpoint(900) {
			max-width: none;
		}
	}
}
