.index-splash {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff url('/img/index/splash/index-splash_large.jpg') center/cover no-repeat;
}
